<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.art.onlineclasses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Online Classes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.NavDrawActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name=".TeacherSection.TeacherActivity1" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".StudentSection.StudentActivity1" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>